.contaner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gameHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;    
  margin-bottom: 20px;
}

.cellRemainingTime {
  width: 35%;  
  background-color: #ccc;
  border-style: solid;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-width: 1px;
  border-color: #000;
  padding: 0 10px;
}

.cellReset {  
  width: 30%;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bfc2c7;
  border-width: 1px 0;
  border-style: solid;    
  border-color: #000;
}

.cellScore {
  width: 35%; 
  text-align: left;
  
  background-color: #ccc;
  border-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-width: 1px;
  border-color: #000;
  padding: 0 10px;
}

.resetButton {
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 0;
  
}

.colorGuess {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
  height: 300px;  
}

.startButton {  
  color: #fff;
  background: #48525d ;
  padding: 10px 50px;
}

:root {
  --color-border: #aaa8a8;
  --width-button: 100%;
}

.colorsChoice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.button {
  width: var(--width-button);
  background: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-border);
  border-radius: 0;
}

.button--left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button--right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button--middle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  border-left: 0;
}